.texto-menor {
    font-size:13px;

}

.divs-facilidades {
    width: 325px;
}

.botao-cian{
    background-color: #5b6481;
    border-radius: 3px;
    padding: 10px;
    color:#fff;
    text-decoration: none;
  
 }
.cor-icon {
    color: #71f3d3;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}

